[submodule "CMakeHelpers"]
	path = CMakeHelpers
	url = https://github.com/ravenpride/CMakeHelpers.git
[submodule "3rdParty/dokany/project"]
	path = 3rdParty/dokany/project
	url = https://github.com/ravenpride/dokany
